/* Google font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Color Variable */
:root{
    --orange: hsl(36, 80%, 50%);
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 85%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-box-bg-color: hsl(0, 0%, 100%);
    --border-color-1: hsl(0, 0%, 90%);
}

body.dark{
    --body-bg-color: hsl(240, 10%, 19%);
    --black-70: hsl(0, 0%, 87%);
    --black-90:hsl(0, 0%, 100%);
    --shadow: 0 0 10px hsla(0, 0%, 0%, 0.08);
    --white: hsl(240, 8%, 21%);
    --WHITE: hsl(240, 8%, 21%);
    --select-box-bg-color: hsl(240, 8%, 21%);
    --border-color-1: hsl(240, 9%, 25%);
    --border-color-2:  hsl(240, 9%, 30%);
    --red-light:hsl(240, 6%, 16%);
    --yellow-light:hsl(240, 6%, 16%);
    --orange-light: hsl(240, 6%, 16%);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    color: var(--black-90);
    line-height: 1.4;
}
a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
}

img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection{
    color: var(--WHITE);
    background-color: var(--main-color);
}

/*Style Switcher Toggler Styling */
.style-switcher{
    width: 250px;
    height: 50%;
    top: 25%;
    bottom: 25%;
    right: -250px;
    padding: 20px;
    background: var(--white);
    box-shadow: var(--shadow);
    z-index: 10;
    position: fixed;
    border-radius: 10px 0 0 10px;
    transition: right 0.3s ease;
}
.style-switcher.open{
    right: 0;
}
.style-switcher-toggler{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    left: -45px;
    background-color: var(--main-color);
    color: var(--WHITE);
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    /* animation: spin1 10s linear infinite; */
}
/* @keyframes spin1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
} */

.style-switcher h4{
    color: var(--main-color);
    font-size: 18px;
    padding: 0 0 10px;
}
.style-switcher p{
    font-size: 14px;
}

.style-switcher-item{
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color-1);
}
.style-switcher-item .theme-color button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
}
.theme-color button::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 12px;
    color: var(--WHITE);
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.theme-color button.active::before{
    opacity: 1;
}

.theme-color{
    padding: 0 0 15px 0;
}
.theme-color .color-1{
    background-color: hsl(0, 74%, 61%);
}
.theme-color .color-2{
    background-color: hsl(230, 74%, 61%);
}
.theme-color .color-3{
    background-color: hsl(36, 74%, 61%);
}
.theme-color .color-4{
    background-color: hsl(277, 74%, 61%);
}
.theme-color .color-5{
    background-color: hsl(189, 74%, 61%);
}


/* Header */
.header{
    border-bottom: 1px solid var(--shadow);
}

.header-menu{
    display: flex;
}

.header-logo{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
}
.header-logo:hover{
    color: var(--main-color); 
}

.header-logo span{
    color: var(--black-90);
}

.header .menu-item{
    display: inline-block;
    margin-left: 40px;
    right: 70px;
    position: relative; 
}

.header .menu-item > a{
    display: block;
    padding: 20px 0;
    font-weight: 400;
    color: var(--black-70);
    text-transform: capitalize;
    transition: color 0.3s ease;
    font-size: 14px;
}
.header .menu-item-login > a{
    display: block;
    padding: 20px 0;
    font-weight: 500;
    color: var(--black-70);
    text-transform: capitalize;
    transition: color 0.3s ease;
    font-size: 14px;
    margin-left: auto;
}

.header .menu-item-login .btn-theme-1{
    color: var(--black-90);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px 30px;
    transition: all 0.3s ease;
}
.header .menu-item-login .btn-theme-1:hover{
    color: var(--main-color);
    background-color: var(--white);
    transition: all 0.3s ease;
}

.header .menu-item > a:hover, 
.header .sub-menu-item > a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header .menu-item > a i{
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
}

.header .sub-menu{
    position: absolute;
    top: 100%;
    background-color: var(--white);
    left: 0;
    width: 210px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}

@media(min-width: 992px){
    .header .menu-item:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: var(--black-70);
    text-decoration: capitalize;
    font-weight: 400;
    transition: color 0.3s ease;
}

.header-backdrop, 
.header-close-btn,
.header-hamburger-btn{
    display: none;
}

/* Banner Section */
.banner-section{
    padding: 80px 0;
    min-height: 680px;
}
.banner-text p{
    text-align: justify;
    max-width: 520px;
}

.banner-text h2{
    font-size: 35px;
    font-weight: 500;
}
.banner-text h3{
    font-size: 20px;
    color: var(--main-color);
}

.circular-img-circle{
    background-color: var(--red-light);
}

.container{
    --bs-gutter-x: 15px;
    max-width: 1140px;
}

.row{
    --bs-gutter-x: 30px;
}

/* Circular image section */

.circular-img{
    max-width: 350px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.circular-img-inner{
    text-align: center;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
}

.circular-img-circle{
    height: 350px;
    width: 350px;
    position: absolute;
    left:0;
    bottom: 0;
    border-radius: 50%;
}
.circular-img img{
    position: relative;
    z-index: 1;
}

.banner-img img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

/* Button Style */
.btn-theme{
    background-color: var(--main-color);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 8px 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.btn-theme:focus{
    box-shadow: 0 0 8px var(--main-color);
}

.btn-theme:hover{
    background-color: var(--WHITE);
    color: var(--main-color);
    border: 1px solid var(--black-90);
}

/* Fun Facts Section Starts */

.box{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
    padding: 30px;
    box-sizing: inherit;
}

.fun-facts-item{
    padding: 15px 0;
}

.fun-facts-item:hover,
.fun-facts-item h2:hover{
    transition: color 0.4s ease;
    color: var(--main-color);
}

.fun-facts-item h2{
    font-size: 30px;
    font-weight: 700;
}
.fun-facts-item h2,
.fun-facts-item p{
    margin: 0;
    text-decoration: uppercase;
}

/* Categories Section Starts */
.categories{
    padding: 20px;
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    margin-top: 50px;
    margin-bottom: 20px;
}
.categories_container .btn{
    background-color: var(--main-color);
    color: var(--WHITE);
}
.categories_container .btn:hover{
    border-radius: 12px;
    transition: all 0.3s ease;
}

.categories_left p{
    text-align: justify;
    margin: 1rem 0 3rem;
}
.categories_right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-right: 60px;
}

.category{
    padding: 2rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
    background-color:var(--yellow-light);
}

.category:hover{
    box-shadow: 0 0 10px var(--main-color);
}

.category_icon{
    font-size: 40px;
}

/* Course Section Styling */
.section-padding{
    padding: 60px 0;
}

.section-title{
    margin-bottom: 40px;
}
.section-title .title{
    font-size: 20px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
}
.section-title .sub-title{
    font-size: 30px;
    font-weight: 600;
    color: var(--black-90);
}

/* Course section styling */
.courses-item{
    margin-bottom: 30px;
    position: relative;
}

.courses-item .img-box img{
    width: 100%;
    border-radius: 5px;
}

.courses-item .link{
    color: var(--black-70);
    display: inline-block;
}

.courses-item .title{
    text-transform: capitalize;
    margin: 15px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}
.courses-item .title:hover{
    color: var(--main-color);
    font-weight: 700;
}
.courses-item .instructor{
    margin: 0 0 12px;
}
.courses-item .rating{
    font-size: 16px;
}
.courses-item .average-rating{
    color: var(--main-color);
    font-weight: 600;
}
.courses-item .average-stars i{
    color: var(--main-color);
}
.courses-item .price{
    position: absolute;
    color: var(--white);
    background-color: var(--main-color);
    font-weight: 600;
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 10px;
    top: 15px;
    right: 15px;
}
.courses-item .instructor img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Testimonial Section Styling */

.testimonials-section .img-box{
    height: 150px;
    width: 150px;
    background-color: var(--red-light);
    margin: 30px auto 50px;
}

.testimonials-section .img-box::before,
.testimonials-section .img-box::after{
    content: ' ';
    position: absolute;
    border: 1px solid var(--red-light);
    border-radius: 50%;

    animation: spin 10s linear infinite;
}

.testimonials-section .img-box::before{
    width: 180px;
    height: 180px;
    top: -15px;
    left: -15px;
    border-left: 1px solid transparent;
}

.testimonials-section .img-box::after{
    width: 210px;
    height: 210px;
    top: -30px;
    left: -30px;
    border-right: 1px solid transparent;
}

.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next{
    position: relative;
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    padding: 2px;
}

.testimonials-section .section-title{
    text-align: center;
    font-weight: 600;
}

.testimonials-item h3{
    text-transform: capitalize;
}

.testimonials-item h3:hover, 
.testimonials-item .text-2:hover{
    color: var(--main-color);
}
.testimonials-item .text-2{
    margin: 0;
    text-transform: capitalize;
}


/* Bubble Effects */

.testimonials-section .decoration-imgs-item{
    position: absolute;
    opacity: 0.4;
    border-radius: 50%;
}

.testimonials-section .decoration-imgs-item:nth-child(1){
    left: 20%;
    top: 20%;
    height: 50px;
    width: 50px;
    background-color: var(--main-color);
}

.testimonials-section .decoration-imgs-item:nth-child(2){
    left: 45%;
    top: 75%;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
}

.testimonials-section .decoration-imgs-item:nth-child(3){
    left: 5%;
    top: 40%;
    height: 70px;
    width: 70px;
    background-color: var(--main-color);
}

.testimonials-section .decoration-imgs-item:nth-child(4){
    right: 15%;
    top: 20%;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
}

/* Animation Style */
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-230deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Mentor Section Styling */
.bai-section{
    margin-top: 100px;
    margin-bottom: 70px;
}
.bai-section .circular-img-circle{
    background-color: var(--yellow-light);
    margin-bottom: 100px;
}

.bai-section .circular-img{
    margin-top: 300px;
}

/* FAQ Section Styling */

.faqs{
    box-shadow: 0 0 5px var(--main-color);
    border: 1px solid var(--white);
    padding: 70px;
}

.faqs h2{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 30px;
}

.faqs h2:hover{
    transition: all 0.5s ease-in;
    color: var(--main-color);
    font-weight: 700;
}

.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.faq{
    padding: 12px;
    gap: 1.4rem;
    cursor: pointer;
    height: fit-content;
    background-color: var(--orange-light);
    border-radius: 15px;
}

.faq h4{
    font-size: 16px;
    line-height: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;
    margin: 1rem;
    display: flex;
}
.faq p{
    margin: 1rem;
    display: none;
}
.faq.open p{
    display: block;
}

/* contact section start from here */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body-bg-color);
    background-size: cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 32px;
    font-weight: 600;
}
.contact .content p {
    font-weight: 300;
}
.contact-container {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
;    margin-top:30px
}
.contat-container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px, 0;
    margin: 20px;
}
.contact-container .contactinfo .contact-box {
    position: relative;
    padding: 20px;
    display: flex;

}
.contact-container .contactinfo .contact-box .icon {
   min-width: 60px;
   height: 60px;
   display: flex;
   background: var(--WHITE);
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;
    color: var(--main-color);
}
.contact-container .contactinfo .contact-box .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: 300;
    text-transform: capitalize;
}
.contact-container .contactinfo .contact-box .text h3 {
    font-weight: 500;
    color:var(--main-color);
}
.contact-form{
    width: 40%;
    padding: 40px;
    background-color: white;
    border-radius: 4%;
    /* animation-name: example;
    animation-duration: 4s;
    animation: forwards; */
    box-shadow:2px 1.5px 2.5px #685f78;
}
/* @keyframes example {
    from{background-color: none;}
    to {background-color: #ffffff;}
} */
.contact-form h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--main-color);
}
.contact-form .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .inputbox input,
.contact-form .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid var(--black-70);
    outline: none;
    resize: none;
}
.contact-form .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}
.contact-form .inputbox input:focus ~ span,
.contact-form .inputbox input:valid ~ span, 
.contact-form .inputbox textarea:focus ~ span,
.contact-form .inputbox textarea:valid ~ span
{
  color:var(--main-color);
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-form .inputbox input[type="submit"] {
    width: 100px;
    background: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    padding: 10px;
    font: 18px;
}
@media (max-width:992px) {
    .contact {
        padding: 50px;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-container .contactinfo {
        margin-bottom: 40px;
    }
}

/* contact section end here */

   /* pop up message  start*/

   .popup {
    width: 400px;
    background: var(--WHITE);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -80%); /* for center position -50% -50% */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 30px 30px;
    /* margin-top: 30px; */
    display: none;
    transition: transform 0.4s;
    box-shadow: 0 5px 5px var(--shadow);
}
.popup h2 {
    font-size: 38px;
    font-weight: 500;
}
.popup button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: var(--main-color);
    border: 0;
    outline: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    border-radius:4px;
    cursor: pointer;
    box-shadow: 0 5px 5px var(--shadow);
    color: white;
}
.popup button:hover {
    color: var(--black-70);
}
.correct {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background:var(--main-color);
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 5px rgba(0, 0, 0.2, 0.2);
}
.fa-check{
    position:absolute;
    top:20%;
    left:25%;
    color: var(--WHITE);
}


/* popup message end here */

/* Footer Section Styling */
.footer-top{
    padding: 50px 0 20px;
    border-top: 1px solid hsl(0, 0%, 90%);
}

.footer-item{
    margin: 0 0 30px;
}

.footer-item h3{
    margin: 0 0 20px;
    font-size: 25px;
}

.footer-item h3:hover{
    color: var(--main-color);
    transition: all 0.3s ease;
}

.footer-item .footer-logo{
    color: var(--black-90);
    text-transform: uppercase;
    font-weight: 700;
}

.footer-logo span{
    color: var(--main-color);
    font-weight: 700;
}

.footer-item ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-item ul a{
    color: var(--black-70);
    transition: color 0.3s ease;
    position: relative;
}

.footer-item ul a:hover,
.footer-item ul a .social-icon{
    color: var(--main-color);
}
.footer-item ul a .social-icon{
    margin-right: 5px;
}

.footer-item ul a::before{
    content: ' ';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    height: 1.2px;
    transition: width 0.3s ease;
    background-color: var(--main-color);
}

.footer-item ul a:hover::before{
    width: 100%;
}

.footer-bottom{
    text-align: center;
    margin-bottom: 15px;
    color: var(--black-70);
    font-size: 14px;
}




/* ```` For Other Pages ```` */

.breadcrumb-nav{
    padding: 10px 0;
}
.breadcrumb-nav .breadcrumb-item{
    font-size: 14px;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active{
    color: var(--black-90);
}

/* Login Section Styling */
.login-section{
    margin: 60px;
}
.login-section .btn-block{
    width: 100%;
}

.form-title{
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-group{
    margin-bottom: 25px;
    position: relative;
}
.form-control{
    height: 48px;
    border-color: 1px solid hsl(158, 68%, 75%);
    border-radius: 10px;
    background-color: transparent;
}

.form-control:focus{
    background-color: transparent;
    color: var(--black-90);
    box-shadow: none;
    border: 1px solid var(--black-70) inset;
    transition: all 0.3s ease-out;
}

.form-control::placeholder{
    color: var(--black-70);
}
.modal-content span{
    margin-bottom: 8px;
    float: right;
}

/* About Us Page Styling */

.about_achievements{
    margin-top: 50px;
    margin-bottom: 80px;
}

.about_achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 16px;
}

.about_achievements-right > p{
    margin: 20px 0 30px;
}

.achievements_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    max-height: fit-content;
}

.achievement_card{
    padding: 30px;
    background-color: var(--card-color);
    text-align: center;
    border-radius: 16px;
    transition: all 0.5s ease;
    height: auto;
}

.achievement_card:hover{
    box-shadow: 0 0.2rem 0.2rem var(--black-90);
    background: var(--white);
}

.achievement_card > h3, 
.achievement_card > p{
    padding: 5px;
    margin-top: 10px;
}

.achievement_card > h3:hover, 
.achievement_card > p:hover,
.achievement_icon:hover{
     font-weight: 600;
     color: var(--main-color);
}
.achievement_icon{
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Team Section Styling */

.team{
    background: var(--white);
    box-shadow: unset 0 0 12px var(--black-70);
    padding: 40px;
}

.team h2{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: var(--main-color);
    padding: 12px;
}
.team_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team_member{
    background: var(--body-bg-color);
    padding: 12px;
    border: 1px solid transparent unset;
    border-radius: 16px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.team_member:hover{
    background: transparent;
    border: 0.5px solid var(--black-70);
}

.team_member .team_member-image img{
    border-radius: 8px;
    filter: saturate(0);
}

.team_member:hover img{
    filter: saturate(1);
}

.team_member-info *{
    text-align: center;
    margin-top: 20px;
}

.team_member-info > p{
    font-size: 16px;
}

.team_member-socials i{
    font-size: 20px;
    padding: 12px;
    color: var(--white);
}
.team_member-socials{
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    box-shadow: -10px 0 -10px var(--black-70);
    border-radius: 1rem 0 0 1rem;
    padding: 5px;
    right: 0;
    transition: all 0.5s ease-in;
    background-color: var(--red-light);
}

.team-member-socials a{
    padding: 20px;
}


/* Modal content */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 500px; /* Width of the modal */
}

.modal-content .form-title{
    font-weight: 600;
    color: var(--main-color);
}
.modal-content .sub-title{
    font-weight: 300;
    color: var(--black-70);
}

/* Close button */
.close {
    color: var(--main-color);
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
.signup-form input[type=text],
.signup-form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.signup-form input[type=text]:hover,
.signup-form input[type=password]:hover{
    border: 1px solid var(--black-90);
}

.signup-form button {
    background-color: var(--main-color);
    color: var(--WHITE);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.signup-form button:hover {
    opacity: 0.8;
    border: 1px solid var(--black-90);
    font-weight: 500;
}


/* SignUp form styling ends here */

/* STEM Page Styling Starts Here */

/* Math Section Starts Here */

.math{
    margin: 30px 30px;
    justify-content: center;
}
.math .heading h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    justify-content: center;
    text-align: center;
}
.math .heading p{
    font-size: 16px;
    font-weight: 500;
    color: var(--black-90);
    justify-content: center;
    text-align: center;
}
.card{
    position: relative;
    width: 250px;
    height: 290px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 4px 4px hsla(0, 0%, 0%, 0.4);
    perspective: 100em;
    background-color: var(--WHITE);
    margin-bottom: 50px;
    margin-top: 50px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card-content{
    padding: 35px;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}
.btn-theme1{
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 8px;
    font-size: 14px;
}
.card-content h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    color: var(--main-color);
}

.card-content p{
    font-size: 14px;
}

.cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s;
    border-radius: 0px 10px 10px  0px;
}

.card:hover .cover{
    transform: rotateY(-120deg);
}

.cover_front,
.cover_back{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}
.cover_front{
    background: var(--white);
    font-weight: 700;
    border-radius: 0px 10px 10px  0px;
}
.cover_front h5{
    text-align: center;
    color: var(--main-color);
}
.cover_back{
    border-radius: 10px 0px 0px 10px;
    transform: rotateY(100deg);
}

.modal-m {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Black w/ opacity */
}

.modal-content-m {
    background-color: var(--white);
    margin: 5% auto;
    padding: 40px 40px 100px 40px;
    border: 1px solid var(--black-70);
    border-radius: 8px;
    width: 100%; /* Width of the modal */
    display: grid;
    grid-template-columns: 60% 40%;
}

.modal-content-m .left h2{
    font-size: 18px;
    color: var(--main-color);
    font-weight: 700;
}

.modal-content-m .left p{
    font-size: 14px;
    text-align: justify;
}
.modal-content-m .left,
.modal-content-m .right{
    margin-top: 50px;
}

.btn-theme-done{
    background-color: var(--main-color);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 8px 20px;
    transition: all 0.3s ease;
    margin-bottom: 20px; 
    width: 10%;
}

.btn-theme-done:focus{
    box-shadow: 0 0 8px var(--main-color);
}

.btn-theme-done:hover{
    background-color: var(--WHITE);
    color: var(--main-color);
    border: 1px solid var(--black-70);
}
.btn-theme-done-para{
    text-align: center;
    margin-top: -130px;
}

/* Math Section Ends Here */

/* tech section start here */
/* .tech{
    margin: 30px 30px;
    justify-content: center;
} */
.tech .heading h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    justify-content: center;
    text-align: center;
}
.tech .heading p{
    font-size: 16px;
    font-weight: 500;
    color: var(--black-90);
    justify-content: center;
    text-align: center;
}
    .tech{
    width: 100%;
    height: 100%;
    background: var(--body-bg-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    border-bottom: 1px solid var(--border-color-1);
   }
   .tech-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
   }
  .tech-card {
    position: relative;
    width: 250px;
    height: 290px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 4px 4px hsla(0, 0%, 0%, 0.4);
    perspective: 100em;
    background-color: var(--white);
    margin-bottom: 50px;
    margin-top: 50px;
   }
    .tech-cover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform-origin: left;
        transition: transform 1s;
        border-radius: 0px 10px 10px  0px;
    }
    .tech-card:hover .tech-cover {
        transform: rotateY(-120deg);
    }
    .tech-coverFront {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .tech-coverFront, .tech-coverBack {
        background: var(--white);
        text-align: center;
        border-radius: 0px 10px 10px 0px;
    }
    .tech-coverBack {
        /* background:#685f78; */
        transform: rotateY(180deg);

    }
    .sh_img {
        width: 100px;
        height: 100px;
    }
    .sh_btn {
        font-size: 14px;
        font-weight: 500;
        border: 0px;
        background:var(--main-color);
        border-radius: 5px;
        padding: 10px 20px;
        color: var(--white);
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .sh_btn:hover {
        color: var(--black-70);
    }


    /* tech-modal */

    .tech-modal-container {
        display: none;
        align-items: center;
        justify-self: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: fixed;
        background: var(--black-70);
        /* transform: scale(0); */
        /* overflow: auto; */
        z-index: 1;
        /* visibility: none; */
    }

    .tech-modal-container .tech-modal {
        align-items: center;
        justify-self: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--white);
        border-radius: 5px;
        text-align: center;
        overflow-y: auto;
    }
    .tech-modal-container .tech-modal .tech-modal-heading {
        margin-top: 30px;
        padding-top: 20px;
    }
    .tech-modal-container .tech-modal .tech-modal-content .content-text h3 {
        font-size: 20px;
        font-weight: 600;
    }
    .tech-modal-container .tech-modal .tech-modal-content .content-text{
        text-align: left;
        font-size: 18px;
        margin-top: 50px;
        padding: 10px;
        line-break: loose;
    }
    .tech-modal-container .tech-modal .tech-modal-content {
        margin: 10px auto;
        width: 90%;

    }
    .tech-modal-container .tech-modal .tech-modal-content img{
        margin-top: 52px;
        max-width: 420px;
        float: right;
        border: 3px solid var(--white);
        border-radius: 10px;
        margin-right: 10px;
    }
    .tech-modal-container .tech-modal h3 {
        color: var(--black-90);
        font-size: 25px;
    }
    .tech-modal-container .tech-modal p{
        color: var(--black-70);
        margin: 25px;

    }
    .tech-modal-container .tech-modal button {
        height: 35px;
        width: 120px;
        background: var(--black-70);
        color: var(--white);
        outline: none;
        border: none;
        border-radius: 50px;
        font-size: 17px;
        cursor: pointer;
        box-shadow: 0px 5px 15px var(--shadow);
    }
    .tech-modal-container .tech-modal button:hover {
        color: var(--black-90);
    }
    .tech-modal-container .tech-modal .fa-times{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
        color: var(--black-70);
    }


    /* Career Exploration Section Styling Starts Here */
    .career_exploration_section1{
        padding: 20px;
    }
    .career_exploration_section1 .heading{
        text-align: center;
        padding: 10px;
        margin-top: 5px;
    }
    .career_exploration_section1 .heading h2{
        font-weight: 700;
        font-size: 24px;
        color: var(--main-color);
    }
    .career_exploration_section1 .heading p{
        font-weight: 300;
        color: var(--black-90);
        font-size: 14px;
    }
    .career-container{
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 3rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .career_exploration_section1_para{
        font-size: 14px;
        text-align: justify;
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .career-container .career_left{
        margin-left: 82px;
    }
    .career_left .newspaper{
        font-size: 12px;
        font-weight: 600;
        color: var(--main-color);
        cursor: pointer;
    }
    .career-container .career_right{
        margin-right: 82px;
    }

    .career-container .career_right .career_exploration_section1_img img{
        border-radius: 8px;
        width: 85%;
    }
    .career-container .career_right .career_exploration_section1_img h5{
        color: var(--main-color);
        margin-top: 8px;
    }
    .career-container .career_right .career_exploration_section1_img .designation{
        color: var(--main-color);
        font-size: 10px;
    }

    /* Second Paragraph Styling */
    .career-container1{
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .career_exploration_section2_para{
        font-size: 14px;
        text-align: justify;
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        margin-bottom: 60px;
        flex-direction: column;
    }
    .career-container1 .career_left1{
        margin-left: 110px;
    }
    .career_right1 .newspaper{
        font-size: 12px;
        font-weight: 600;
        color: var(--main-color);
        cursor: pointer;
    }
    .career-container1 .career_right1{
        margin-right: 110px;
    }

    .career-container1 .career_left1 .career_exploration_section2_img img{
        border-radius: 8px;
        width: 85%;
    }
    .career-container1 .career_left1 .career_exploration_section2_img h5{
        color: var(--main-color);
        margin-top: 8px;
    }
    .career-container1 .career_left1 .career_exploration_section2_img .designation{
        color: var(--main-color);
        font-size: 10px;
    }

    /* Slide Section */
    .slide{
        margin-bottom: 60px;
    }
    .bg-slider{
        margin-top: 12px;
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
    .bg-slider .swiper-slide{
        position: relative;
        width: 82%;
        text-align: center;
        height: 100vh;
    }
    .bg-slider .swiper-slide img{
        width: 82%;
        height: 100vh;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        pointer-events: none;
        border-radius: 10px;
        border: 5px outset;
    }

    .dark-layer:before{
        content:' ';
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rbga(0,0,0,0.2);
    }
    .swiper-slide .text-content{
        position: absolute;
        top: 25%;
        text-align: left;
        margin: 0 200px;
        color: var(--white);
    }

    .swiper-slide .text-content .title{
        color: var(--WHITE);
        font-size: 24px;
        font-weight: 700;
        text-shadow: 1px var(--shadow);
        margin-bottom: 5px;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(5px);
        text-shadow: 2px var(--black-70);
        border-radius: 10px;
        padding-left: 20px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .swiper-slide .text-content span{
        font-size: 14px;
    }
    .swiper-slide .text-content p{
        max-width: 500px;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(5px);
        text-shadow: 2px var(--black-70);
        text-align: justify;
        padding: 20px;
        font-size: 14px;
        border-radius: 10px;
        color: var(--white);
        border-bottom: 1px solid rgba(255,255,255,0.1);
        border-right: 1px solid rgba(255,255,255,0.1);
    }
    .swiper-slide .text-content .btn{
        color: var(--black-90);
        background-color: var(--white);
        border-radius: 8px;
        padding: 14px;
        width: 25%;
        font-size: 16px;
        font-weight: 600;
    }
    .swiper-slide .text-content .btn:hover{
        color: var(--white);
        background-color: var(--black-90);
    }
    
    /* For thumbs container styling */
    
    .bg-slider-thumbs{
        z-index: 777;
        position: absolute;
        bottom: -40px;
        left: 42%;
        transform: translateX(-50%);
        transition: all 0.3s ease;
    }
    
    .bg-slider-thumbs .thumbs-container{
        width: 50px;
        height: 35px;
        margin: 0.5px;
        cursor: pointer;
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }

    .bg-slider-thumbs .thumbs-container img{
        border-radius: 8px;
    }
    .bg-slider-thumbs .thumbs-container img:hover{
        border-bottom: 2px solid var(--white);
        padding: 5px;
    }

    /* Xplore Button Styling */
    .x_btn{
        background-color: var(--main-color);
        color: var(--white);
        font-size: 14px;
        padding: 10px;
        justify-content: center;
        border-radius: 10px;
    }
    .x_btn:hover{
        color: var(--main-color);
        background-color: var(--white);
        border: 1px solid var(--main-color);
    }
    .timeline-heading{
        width: 50%;
        padding: 0px;
        margin-bottom: 80px;
        top: 0px
    }
    .timeline{
        margin: 100px;
        padding: 20px;
    }
    .timeline ul{
        margin-top: 30px;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .timeline ul li{
        position: relative;
    }
    .para{
        transform: translateY(-10px);
        /*opacity: 0;*/
        padding: 0 20px;
        transition: 1.5s;
        text-align: center;
    }
    .page{
        /*opacity: 0;*/
        transition: 1.5s;
        font-size: 14px;
        position: absolute;
        top: -80px;
        left: 39%;
        font-weight: 700px;
    }
    .timeline-line{
        background: blue;
        width: 100%;
        height: 4px;
        border-radius: 12px;
        position: relative;
    }
    .timeline-point{
        border: none;
        position: absolute;
        border-radius: 50%;
        background: blue;
        width: 15px;
        height: 15px;
        top: -40px;
        left: 45%;
        transition: 1.5s ease;
    }
    .timeline-innerline{
        position: absolute;
        background: blue;
        width: 0%;
        height: 4px;
        top: 0%;
        left: 0%;
        transition: 1s linear;
        border-radius: 999px;
    }