/* Google font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Color Variable */
:root{
    --orange: hsl(36, 80%, 50%);
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 85%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-box-bg-color: hsl(0, 0%, 100%);
    --border-color-1: hsl(0, 0%, 90%);
}

body{
    background-color: hsl(0, 63%, 97%);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    color: var(--black-90);
    line-height: 1.4;
}
a{
    color: hsl(0, 74%, 61%);
    text-decoration: none;
}

a:hover{
    color: hsl(0, 74%, 61%);
}

img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection{
    color: (--WHITE);
    background-color: var(--main-color);
}

/* Header */
.header{
    border-bottom: 1px solid hsl(var(--hue-value-1), 40%, 93%);
}

.header-menu{
    display: flex;
}

.header-logo{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
}
.header-logo:hover{
    color: var(--main-color); 
}

.header-logo span{
    color: var(--black-90);
}

.header .menu-item{
    display: inline-block;
    margin-left: 40px;
    right: 70px;
    position: relative; 
}

.header .menu-item > a{
    display: block;
    padding: 20px 0;
    font-weight: 400;
    color: var(--black-70);
    text-transform: capitalize;
    transition: color 0.3s ease;
    font-size: 14px;
}
.header .menu-item-login > a{
    display: block;
    padding: 20px 0;

    font-weight: 400;
    color: var(--black-70);
    text-transform: capitalize;
    transition: color 0.3s ease;
    font-size: 14px;
    margin-left: auto;
}
.header .menu-item-login .btn-theme-1{
    color: var(--black-90);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px 30px;
    transition: all 0.3s ease;
}
.header .menu-item-login .btn-theme-1:hover{
    color: hsl(0, 84%, 80%);
    background-color: var(--white);
    transition: all 0.3s ease;
}

.header .menu-item > a:hover, 
.header .sub-menu-item > a:hover{
    color: var(--main-color);
}

.header .menu-item > a i{
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
}

.header .sub-menu{
    position: absolute;
    top: 100%;
    background-color: var(--white);
    left: 0;
    width: 210px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}

@media(min-width: 992px){
    .header .menu-item:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: var(--black-70);
    text-decoration: capitalize;
    font-weight: 400;
    transition: color 0.3s ease;
}

.header-backdrop, 
.header-close-btn,
.header-hamburger-btn{
    display: none;
}

/* Footer Section Styling */
.footer-top{
    padding: 50px 0 20px;
    border-top: 1px solid hsl(0, 0%, 90%);
}

.footer-item{
    margin: 0 0 30px;
}

.footer-item h3{
    margin: 0 0 20px;
    font-size: 25px;
}

.footer-item h3:hover{
    color: hsl(0, 74%, 61%);
    transition: all 0.3s ease;
}

.footer-item .footer-logo{
    color: var(--black-90);
    text-transform: uppercase;
    font-weight: 700;
}

.footer-logo span{
    color: hsl(0, 74%, 61%);
    font-weight: 700;
}

.footer-item ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-item ul a{
    color: var(--black-70);
    transition: color 0.3s ease;
    position: relative;
}

.footer-item ul a:hover,
.footer-item ul a .social-icon{
    color: hsl(0, 74%, 61%);
}
.footer-item ul a .social-icon{
    margin-right: 5px;
}

.footer-item ul a::before{
    content: ' ';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    height: 1.2px;
    transition: width 0.3s ease;
    background-color: hsl(0, 84%, 80%);
}

.footer-item ul a:hover::before{
    width: 100%;
}

.footer-bottom{
    text-align: center;
    margin-bottom: 15px;
    color: var(--black-70);
    font-size: 14px;
}

/* Footer Styling Ends Here */